<h1>Ubah Password</h1>

<form method="POST">
    <!-- form name -->
    <label for="password" aria-required="true" aria-placeholder="password" aria-autocomplete="none">Password</label>
    <input type="password" name="password" id="password">
    <label for="password_confirmation" aria-required="true" aria-placeholder="password_confirmation" aria-autocomplete="none">Password Confirmation</label>
    <input type="password" name="password_confirmation" id="password_confirmation">
    <button type="submit">Ubah Password</button>
</form>

<script>
    const urlParams = new URLSearchParams(window.location.search);
    const token = urlParams.get('token');
    console.log(token);
    const form = document.querySelector('form');
    form.addEventListener('submit', async (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        const data = Object.fromEntries(formData);
        const response = await fetch(`http://localhost:3000/api/v1/auth/reset-password?token=${token}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data),
        });
        const result = await response.json();
        if (result.status === true) {
            window.location.href = '/login';
        } else {
            alert(result.message);
        }
    });
</script>
